<div class="offset-by-three five columns">
<h2>See your <span class="freal">Artists!</span></h2>
<h4 class="add-bottom">(hooray...)</h4>
<%= link_to "New Artist", new_artist_path, class: 'button' %>

</div>

<div class="five columns">

<%= render @artists %>

</div>