<div class="offset-by-three five columns">
<h2>See your <span class="freal">Albums!</span></h2>
<h4 class="add-bottom">(analbumcover...)</h4>
<%= link_to "New Album", new_album_path, class: 'button' %>

</div>

<div class="five columns">

<%= render @albums %>

</div>
